@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222020;
  --foreground: #eae7e7;
  --blue: #60a5fa;  
  --hoverblue: #9cc5f8;  
  --red: #f87171;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222020;
    --foreground: #eae7e7;
    --blue: #60a5fa;  
    --hoverblue: #3B82F6 ;  
    --red: #f87171;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
